{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{% set fullPageForm = true %}


{% set isNewVideo = video.id ? false : true %}
{% set selectedSubnavItem = isNewVideo ? 'create' : 'edit'  %}


{% hook "cp.craft-flowplayer-drive.edit" %}

{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
    <div class="flex-grow"></div>
    {{ block('actionButton') }}
{% endblock %}


{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="craft-flowplayer-drive/video/store">
    {{ redirectInput('craft-flowplayer-drive/') }}

    {% if video.id %}<input type="hidden" name="videoId" value="{{ video.id }}">{% endif %}
    {% if craft.app.getIsMultiSite() %}<input type="hidden" name="siteId" value="{{ video.siteId }}">{% endif %}

    <div id="fields">
        {{ forms.textField({
            label: "Name"|t('app'),
            siteId: video.siteId,
            id: 'name',
            name: 'name',
            value: video.name,
            errors: video.getErrors('name'),
            first: true,
            autofocus: true,
            required: false,
            maxlength: 255
        }) }}


        <div class="field first" id="description-field" data-cpfieldlinks="true">
            <div class="heading">
                <label id="description-label" class="" for="description">Description</label>
            </div>
            <div class="input ltr">
            {{ forms.textArea({
                label: "Description"|t('craft-flowplayer-drive'),
                siteId: video.siteId,
                id: 'description',
                name: 'description',
                value: video.description,
                errors: video.getErrors('description'),
                first: false,
                autofocus: true,
                required: false,
                maxlength: 255,
                rows: 4,
            }) }}
            </div>
        </div>

        <div class="field">
            <div class="heading">
                <label id="published-label" for="published">Veröffentlicht</label>
            </div>
            <div class="input ltr">
                {{ forms.lightswitch({
                    label: 'Veröffentlicht'|t('craft-flowplayer-drive'),
                    siteId: video.siteId,
                    id: 'published',
                    name: 'published',
                    value: true,
                    on: video.published,
                    errors:  video.getErrors('published'),
                    first: false,
                    autofocus: false,
                    required: false,
                }) }}
            </div>
        </div>


        {{ forms.elementSelectField({
            label: "Video File"|t('app'),
            id: 'asset', 
            name: 'asset',
            elementType: 'craft\\elements\\Asset',
            selectionLabel: "Choose video"|t('craft-flowplayer-drive'),
            elements: [], 
            criteria: {"kind":['video']},
         }) }}

    </div>

    {# Give plugins a chance to add other things here #}
    {% hook "cp.craft-flowplayer-drive.edit.content" %}
{% endblock %}

{% block details %}
    <div id="settings" class="meta">

    </div>

    {% if video.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
                <div class="value">{{ video.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
                <div class="value">{{ video.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}

    {# Give plugins a chance to add other stuff here #}
    {% hook "cp.craft-flowplayer-drive.edit.details" %}
{% endblock %}
