{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Flowplayer Drive plugin for Craft CMS 3.x
 *
 * Craft Flowplayer Drive Settings.twig
 *
 * @author    Lucas Bares
 * @copyright Copyright (c) 2018 Lucas Bares
 * @link      http://luke.nehemedia.de
 * @package   CraftFlowplayerDrive
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}


<div class="buttons">
    <a class="btn submit refresh icon" data-icon="refresh" href="{{url('craft-flowplayer-drive/refresh')}}">{{ 'Refresh Videolist'|t('craft-flowplayer-drive') }}</a>
    <a class="btn submit delete icon" data-icon="delete" href="{{url('craft-flowplayer-drive/clear')}}">{{ 'Clear Videolist'|t('craft-flowplayer-drive') }}</a>
</div>


{% do view.registerAssetBundle("lucasbares\\craftflowplayerdrive\\assetbundles\\craftflowplayerdrive\\CraftFlowplayerDriveAsset") %}

{{ forms.textField({
    first: true,
    label: 'Site-ID'|t('craft-flowplayer-drive'),
    instructions: 'Site-ID-instructions'|t('craft-flowplayer-drive'),
    id: 'siteId',
    name: 'siteId',
    required: true,
    value: settings.siteId})
}}

{{ forms.textField({
    first: false,
    label: 'API-Key'|t('craft-flowplayer-drive'),
    instructions: 'API-Key-instructions'|t('craft-flowplayer-drive'),
    id: 'apiKey',
    name: 'apiKey',
    required: true,
    value: settings.apiKey})
}}


{{ forms.textField({
    first: false,
    label: 'User-ID'|t('craft-flowplayer-drive'),
    instructions: 'User-ID-instructions'|t('craft-flowplayer-drive'),
    id: 'userId',
    name: 'userId',
    value: settings.userId})
}}


{{ forms.textField({
    first: false,
    label: 'Default Player-ID'|t('craft-flowplayer-drive'),
    instructions: 'Default Player-ID-instructions'|t('craft-flowplayer-drive'),
    id: 'defaultPlayerId',
    name: 'defaultPlayerId',
    value: settings.defaultPlayerId})
}}


