{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Flowplayer Drive plugin for Craft CMS 3.x
 *
 * Craft Flowplayer Drive Settings.twig
 *
 * @author    Lucas Bares
 * @copyright Copyright (c) 2018 Lucas Bares
 * @link      http://luke.nehemedia.de
 * @package   CraftFlowplayerDrive
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}


<div class="buttons">
    <a class="btn submit refresh icon" data-icon="refresh" href="{{url('craft-flowplayer-drive/refresh')}}">Refresh Videolist</a>
    <a class="btn submit delete icon" data-icon="delete" href="{{url('craft-flowplayer-drive/clear')}}">Clear Videolist</a>
</div>


{% do view.registerAssetBundle("lucasbares\\craftflowplayerdrive\\assetbundles\\craftflowplayerdrive\\CraftFlowplayerDriveAsset") %}

{{ forms.textField({
    first: true,
    label: 'setting-siteId-label'|t('craft-flowplayerdrive'),
    instructions: 'setting-siteId-instructions'|t('craft-flowplayerdrive'),
    id: 'siteId',
    name: 'siteId',
    value: settings.siteId})
}}

{{ forms.textField({
    first: false,
    label: 'setting-apiKey-label'|t('craft-flowplayerdrive'),
    instructions: 'setting-apiKey-instructions'|t('craft-flowplayerdrive'),
    id: 'apiKey',
    name: 'apiKey',
    value: settings.apiKey})
}}


{{ forms.textField({
    first: false,
    label: 'setting-userId-label'|t('craft-flowplayerdrive'),
    instructions: 'setting-userId-instructions'|t('craft-flowplayerdrive'),
    id: 'userId',
    name: 'userId',
    value: settings.userId})
}}


{{ forms.textField({
    first: false,
    label: 'setting-defaultPlayerId-label'|t('craft-flowplayerdrive'),
    instructions: 'setting-defaultPlayerId-instructions'|t('craft-flowplayerdrive'),
    id: 'defaultPlayerId',
    name: 'defaultPlayerId',
    value: settings.defaultPlayerId})
}}

{{ forms.textField({
    first: false,
    label: 'setting-refreshInterval-label'|t('craft-flowplayerdrive'),
    instructions: 'setting-refreshInterval-instructions'|t('craft-flowplayerdrive'),
    id: 'refreshInterval',
    name: 'refreshInterval',
    value: settings.refreshInterval})
}}


