{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Flowplayer Drive plugin for Craft CMS
 *
 * FlowplayerVideoField Field Settings
 *
 * @author    Lucas Bares
 * @copyright Copyright (c) 2018 Lucas Bares
 * @link      http://luke.nehemedia.de
 * @package   CraftFlowplayerDrive
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<h4>{{ 'Display only published videos'|t('craft-flowplayer-drive') }}</h4>
<p>{{ 'Private or unpublished videos will not be selectable'|t('craft-flowplayer-drive') }}</p>
{{ forms.lightswitch({
    label: 'Display only published videos'|t('craft-flowplayer-drive'),
    instructions:  'Private or unpublished videos will not be selectable'|t('craft-flowplayer-drive'),
    id: 'published',
    name: 'published',
    on: field['published']})
}}

{%- if field.getErrors('published') %}
    <ul class="errors">
        {% for error in field.getErrors('published') %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{%- endif %}

<h4>{{ 'Limit'|t('craft-flowplayer-drive') }}</h4>
<p><label>{{ 'Limit the number of selectable videos'|t('craft-flowplayer-drive') }}</label></p>
{{ forms.text({
    label: 'Limit'|t('craft-flowplayer-drive'),
    instructions: 'Limit the number of selectable videos'|t('craft-flowplayer-drive'),
    id: 'limit',
    name: 'limit',
    size: 3,
    value: field['limit']})
}}
{%- if field.getErrors('limit') %}
    <ul class="errors">
        {% for error in field.getErrors('limit') %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{%- endif %}